[submodule "doc/client"]
	path = doc/client
	url = https://github.com/418imateapot/raschietto-client
[submodule "doc/server/_build"]
	path = doc/server/_build
	url = https://github.com/418imateapot/raschietto-server
[submodule "doc/server/_build/html"]
	path = doc/server/_build/html
	url = https://github.com/418imateapot/raschietto-server
